__pycache__/persistencia_postgresql.cpython-311.pyc
~$usuarios_roldan.xlsx
__pycache__/persistencia_postgresql.cpython-311.pyc
DIRECCIONES CUENCA.xlsx
ODRF (1).txt
ODRF.txt
DRF1_20250908_151520.txt
DRF1_20250908_154608.txt
DRF1_20250908_170712.txt
DRF1_20250910_092855.txt
/__pycache__
__pycache__/escucha_correos.cpython-311.pyc
*.pyc
