--
-- PostgreSQL database dump
--

\restrict ZChrQoV9dn5AphfHOUCjLHzE9z8sfVX2nnRgfgCVSlhgnQAzb3Rq6WaBWNK2qW9

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: actualizar_fecha_modificacion(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_fecha_modificacion() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
                BEGIN
                    NEW.fecha_actualizacion = CURRENT_TIMESTAMP;
                    RETURN NEW;
                END;
                $$;


ALTER FUNCTION public.actualizar_fecha_modificacion() OWNER TO postgres;

--
-- Name: actualizar_fecha_modificacion_alias(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_fecha_modificacion_alias() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.fecha_actualizacion = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.actualizar_fecha_modificacion_alias() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alias_productos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alias_productos (
    id integer NOT NULL,
    producto_id integer NOT NULL,
    cliente_id integer NOT NULL,
    alias_1 text,
    alias_2 text,
    alias_3 text,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.alias_productos OWNER TO postgres;

--
-- Name: alias_productos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alias_productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alias_productos_id_seq OWNER TO postgres;

--
-- Name: alias_productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alias_productos_id_seq OWNED BY public.alias_productos.id;


--
-- Name: archivos_generados; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.archivos_generados (
    id integer NOT NULL,
    nombre_archivo character varying(255) NOT NULL,
    tipo_archivo character varying(10) NOT NULL,
    ruta_archivo text NOT NULL,
    fecha_generacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    cantidad_pedidos integer DEFAULT 0,
    pedidos_ids integer[],
    estado character varying(20) DEFAULT 'generado'::character varying,
    "tama├▒o_bytes" bigint,
    usuario_generacion character varying(100),
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.archivos_generados OWNER TO postgres;

--
-- Name: archivos_generados_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.archivos_generados_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.archivos_generados_id_seq OWNER TO postgres;

--
-- Name: archivos_generados_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.archivos_generados_id_seq OWNED BY public.archivos_generados.id;


--
-- Name: bodegas_producto_por_cliente; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bodegas_producto_por_cliente (
    id integer NOT NULL,
    cliente_id integer NOT NULL,
    producto_id integer NOT NULL,
    bodega character varying(50) NOT NULL
);


ALTER TABLE public.bodegas_producto_por_cliente OWNER TO postgres;

--
-- Name: bodegas_producto_por_cliente_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bodegas_producto_por_cliente_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bodegas_producto_por_cliente_id_seq OWNER TO postgres;

--
-- Name: bodegas_producto_por_cliente_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bodegas_producto_por_cliente_id_seq OWNED BY public.bodegas_producto_por_cliente.id;


--
-- Name: bodegas_producto_por_sucursal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bodegas_producto_por_sucursal (
    id integer NOT NULL,
    sucursal_id integer NOT NULL,
    producto_id integer NOT NULL,
    bodega character varying(50) NOT NULL
);


ALTER TABLE public.bodegas_producto_por_sucursal OWNER TO postgres;

--
-- Name: bodegas_producto_por_sucursal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bodegas_producto_por_sucursal_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bodegas_producto_por_sucursal_id_seq OWNER TO postgres;

--
-- Name: bodegas_producto_por_sucursal_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bodegas_producto_por_sucursal_id_seq OWNED BY public.bodegas_producto_por_sucursal.id;


--
-- Name: clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes (
    id integer NOT NULL,
    nombre text NOT NULL,
    ruc character varying(13) NOT NULL,
    usa_bodega_por_sucursal boolean DEFAULT false NOT NULL,
    alias_por_sucursal boolean DEFAULT false NOT NULL,
    alias_por_producto boolean DEFAULT false NOT NULL,
    ruc_por_sucursal boolean DEFAULT false NOT NULL
);


ALTER TABLE public.clientes OWNER TO postgres;

--
-- Name: COLUMN clientes.ruc_por_sucursal; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.clientes.ruc_por_sucursal IS 'Si TRUE, cada sucursal tiene su propio RUC. Si FALSE, se usa el RUC del cliente para todas las sucursales.';


--
-- Name: clientes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.clientes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.clientes_id_seq OWNER TO postgres;

--
-- Name: clientes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.clientes_id_seq OWNED BY public.clientes.id;


--
-- Name: configuracion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.configuracion (
    id integer NOT NULL,
    clave character varying(50) NOT NULL,
    valor text NOT NULL,
    descripcion text,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.configuracion OWNER TO postgres;

--
-- Name: configuracion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.configuracion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.configuracion_id_seq OWNER TO postgres;

--
-- Name: configuracion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.configuracion_id_seq OWNED BY public.configuracion.id;


--
-- Name: correos_procesados; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.correos_procesados (
    id integer NOT NULL,
    uid integer NOT NULL,
    fecha_procesado timestamp without time zone DEFAULT now(),
    remitente character varying(255),
    asunto text,
    procesado_exitosamente boolean DEFAULT true,
    observaciones text
);


ALTER TABLE public.correos_procesados OWNER TO postgres;

--
-- Name: TABLE correos_procesados; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.correos_procesados IS 'Registra UIDs de correos procesados para evitar duplicados y recuperar correos perdidos';


--
-- Name: COLUMN correos_procesados.uid; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.correos_procesados.uid IS 'UID ├║nico del correo en el servidor IMAP';


--
-- Name: COLUMN correos_procesados.procesado_exitosamente; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.correos_procesados.procesado_exitosamente IS 'Indica si el correo se proces├│ correctamente o tuvo errores';


--
-- Name: COLUMN correos_procesados.observaciones; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.correos_procesados.observaciones IS 'Notas sobre el procesamiento (errores, etc.)';


--
-- Name: correos_procesados_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.correos_procesados_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.correos_procesados_id_seq OWNER TO postgres;

--
-- Name: correos_procesados_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.correos_procesados_id_seq OWNED BY public.correos_procesados.id;


--
-- Name: pedido_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedido_items (
    id integer NOT NULL,
    pedido_id integer,
    descripcion text NOT NULL,
    sku character varying(50),
    bodega character varying(50),
    cantidad integer NOT NULL,
    producto_id integer
);


ALTER TABLE public.pedido_items OWNER TO postgres;

--
-- Name: pedido_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedido_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedido_items_id_seq OWNER TO postgres;

--
-- Name: pedido_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pedido_items_id_seq OWNED BY public.pedido_items.id;


--
-- Name: pedidos_numero_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedidos_numero_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedidos_numero_seq OWNER TO postgres;

--
-- Name: pedidos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pedidos (
    id integer NOT NULL,
    numero_pedido integer DEFAULT nextval('public.pedidos_numero_seq'::regclass) NOT NULL,
    fecha timestamp without time zone NOT NULL,
    pdf_filename text,
    email_uid bigint,
    email_from text,
    email_subject text,
    sucursal text,
    cliente_id integer,
    sucursal_id integer,
    estado character varying(20) DEFAULT 'por_procesar'::character varying,
    orden_compra character varying(50),
    CONSTRAINT chk_estado CHECK (((estado)::text = ANY ((ARRAY['por_procesar'::character varying, 'procesado'::character varying, 'con_errores'::character varying])::text[])))
);


ALTER TABLE public.pedidos OWNER TO postgres;

--
-- Name: COLUMN pedidos.orden_compra; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.pedidos.orden_compra IS 'N├â┬║mero de orden de compra extra├â┬¡do del PDF (ej. OS-0-0-4887)';


--
-- Name: pedidos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pedidos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.pedidos_id_seq OWNER TO postgres;

--
-- Name: pedidos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pedidos_id_seq OWNED BY public.pedidos.id;


--
-- Name: producto_alias; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.producto_alias (
    id integer NOT NULL,
    producto_id integer NOT NULL,
    cliente_id integer NOT NULL,
    alias text NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_actualizacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.producto_alias OWNER TO postgres;

--
-- Name: producto_alias_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.producto_alias_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.producto_alias_id_seq OWNER TO postgres;

--
-- Name: producto_alias_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.producto_alias_id_seq OWNED BY public.producto_alias.id;


--
-- Name: productos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos (
    id integer NOT NULL,
    sku character varying(50) NOT NULL,
    nombre text NOT NULL,
    activo boolean DEFAULT true NOT NULL
);


ALTER TABLE public.productos OWNER TO postgres;

--
-- Name: productos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.productos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.productos_id_seq OWNER TO postgres;

--
-- Name: productos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.productos_id_seq OWNED BY public.productos.id;


--
-- Name: sucursales; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sucursales (
    id integer NOT NULL,
    cliente_id integer NOT NULL,
    alias text,
    nombre text NOT NULL,
    encargado text,
    direccion text,
    activo boolean DEFAULT true NOT NULL,
    almacen character varying(10),
    ruc character varying(13),
    ciudad character varying(100)
);


ALTER TABLE public.sucursales OWNER TO postgres;

--
-- Name: COLUMN sucursales.ruc; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sucursales.ruc IS 'RUC espec├â┬¡fico de la sucursal. Solo se usa si el cliente tiene ruc_por_sucursal = TRUE.';


--
-- Name: COLUMN sucursales.ciudad; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.sucursales.ciudad IS 'Ciudad donde se encuentra ubicada la sucursal.';


--
-- Name: sucursales_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sucursales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sucursales_id_seq OWNER TO postgres;

--
-- Name: sucursales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sucursales_id_seq OWNED BY public.sucursales.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    nombre_completo character varying(100),
    email character varying(100),
    activo boolean DEFAULT true,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ultimo_acceso timestamp without time zone
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: vista_estadisticas_pedidos; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_estadisticas_pedidos AS
 SELECT estado,
    count(*) AS cantidad,
    min(fecha) AS fecha_mas_antigua,
    max(fecha) AS fecha_mas_reciente
   FROM public.pedidos
  GROUP BY estado;


ALTER VIEW public.vista_estadisticas_pedidos OWNER TO postgres;

--
-- Name: vista_pedidos_completa; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_pedidos_completa AS
 SELECT p.id,
    p.numero_pedido,
    p.fecha,
    p.sucursal,
    p.estado,
    c.nombre AS cliente_nombre,
    s.nombre AS sucursal_nombre,
    count(pi.id) AS total_items
   FROM (((public.pedidos p
     LEFT JOIN public.clientes c ON ((p.cliente_id = c.id)))
     LEFT JOIN public.sucursales s ON ((p.sucursal_id = s.id)))
     LEFT JOIN public.pedido_items pi ON ((p.id = pi.pedido_id)))
  GROUP BY p.id, p.numero_pedido, p.fecha, p.sucursal, p.estado, c.nombre, s.nombre;


ALTER VIEW public.vista_pedidos_completa OWNER TO postgres;

--
-- Name: alias_productos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alias_productos ALTER COLUMN id SET DEFAULT nextval('public.alias_productos_id_seq'::regclass);


--
-- Name: archivos_generados id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.archivos_generados ALTER COLUMN id SET DEFAULT nextval('public.archivos_generados_id_seq'::regclass);


--
-- Name: bodegas_producto_por_cliente id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_cliente ALTER COLUMN id SET DEFAULT nextval('public.bodegas_producto_por_cliente_id_seq'::regclass);


--
-- Name: bodegas_producto_por_sucursal id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_sucursal ALTER COLUMN id SET DEFAULT nextval('public.bodegas_producto_por_sucursal_id_seq'::regclass);


--
-- Name: clientes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes ALTER COLUMN id SET DEFAULT nextval('public.clientes_id_seq'::regclass);


--
-- Name: configuracion id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracion ALTER COLUMN id SET DEFAULT nextval('public.configuracion_id_seq'::regclass);


--
-- Name: correos_procesados id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.correos_procesados ALTER COLUMN id SET DEFAULT nextval('public.correos_procesados_id_seq'::regclass);


--
-- Name: pedido_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido_items ALTER COLUMN id SET DEFAULT nextval('public.pedido_items_id_seq'::regclass);


--
-- Name: pedidos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos ALTER COLUMN id SET DEFAULT nextval('public.pedidos_id_seq'::regclass);


--
-- Name: producto_alias id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto_alias ALTER COLUMN id SET DEFAULT nextval('public.producto_alias_id_seq'::regclass);


--
-- Name: productos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos ALTER COLUMN id SET DEFAULT nextval('public.productos_id_seq'::regclass);


--
-- Name: sucursales id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sucursales ALTER COLUMN id SET DEFAULT nextval('public.sucursales_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Data for Name: alias_productos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alias_productos (id, producto_id, cliente_id, alias_1, alias_2, alias_3, fecha_creacion, fecha_actualizacion) FROM stdin;
\.


--
-- Data for Name: archivos_generados; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.archivos_generados (id, nombre_archivo, tipo_archivo, ruta_archivo, fecha_generacion, cantidad_pedidos, pedidos_ids, estado, "tama├▒o_bytes", usuario_generacion, fecha_creacion, fecha_actualizacion) FROM stdin;
1	ODRF_20250923_180435.txt	ODRF	ODRF_20250923_180435.txt	2025-09-23 18:04:36.326425	9	{40,41,43,44,45,47,48,52,53}	generado	1016	\N	2025-09-23 18:04:36.326425	2025-09-23 18:04:36.326425
2	DRF1_20250923_180435.txt	DRF1	DRF1_20250923_180435.txt	2025-09-23 18:04:36.375016	9	{40,41,43,44,45,47,48,52,53}	generado	8472	\N	2025-09-23 18:04:36.375016	2025-09-23 18:04:36.375016
\.


--
-- Data for Name: bodegas_producto_por_cliente; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: bodegas_producto_por_sucursal; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bodegas_producto_por_sucursal (id, sucursal_id, producto_id, bodega) FROM stdin;
\.


--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.clientes (id, nombre, ruc, usa_bodega_por_sucursal, alias_por_sucursal, alias_por_producto, ruc_por_sucursal) FROM stdin;
1	Roldan	1790012345002	f	t	t	t
2	Marcimex	1790012342001	t	f	f	f
\.


--
-- Data for Name: configuracion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.configuracion (id, clave, valor, descripcion, fecha_actualizacion) FROM stdin;
1	numero_pedido_inicial	1000	N├║mero inicial para generar n├║meros de pedido secuenciales	2025-10-24 09:45:12.790416
\.


--
-- Data for Name: correos_procesados; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.correos_procesados (id, uid, fecha_procesado, remitente, asunto, procesado_exitosamente, observaciones) FROM stdin;
1	12345	2025-10-06 14:38:11.420233	test@ejemplo.com	Correo de prueba	t	Prueba del sistema
2	12346	2025-10-06 14:38:11.721168	error@ejemplo.com	Correo con error	f	Error de prueba
\.


--
-- Data for Name: pedido_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pedidos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: producto_alias; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sucursales; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usuarios (id, username, password_hash, nombre_completo, email, activo, fecha_creacion, ultimo_acceso) FROM stdin;
1	admin	$2b$12$JFj16UlGErHjsvwEDMVkbum2Z7RlGdC9nMIxEJFTvPhGq4Nx7.CqO	Administrador	admin@unilimpiosur.com	t	2025-10-06 05:28:45.609846	2025-10-24 00:54:30.882556
2	tyrone	$2b$12$jEGK5AenCC8bDcwe5E2O.Oq/Ck15/5RfmgvMMWW2MpELuFKZSg8SS	Tyrone	tyrone@unilimpiosur.com	t	2025-10-06 05:40:52.304777	2025-10-24 09:40:01.58967
\.


--
-- Name: alias_productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alias_productos_id_seq', 40370, true);


--
-- Name: archivos_generados_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.archivos_generados_id_seq', 2, true);


--
-- Name: bodegas_producto_por_cliente_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bodegas_producto_por_cliente_id_seq', 19614, true);


--
-- Name: bodegas_producto_por_sucursal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bodegas_producto_por_sucursal_id_seq', 23, true);


--
-- Name: clientes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.clientes_id_seq', 3, true);


--
-- Name: configuracion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.configuracion_id_seq', 7, true);


--
-- Name: correos_procesados_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.correos_procesados_id_seq', 2, true);


--
-- Name: pedido_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pedido_items_id_seq', 6902, true);


--
-- Name: pedidos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pedidos_id_seq', 388, true);


--
-- Name: pedidos_numero_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pedidos_numero_seq', 32, true);


--
-- Name: producto_alias_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.producto_alias_id_seq', 1718, true);


--
-- Name: productos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.productos_id_seq', 3111, true);


--
-- Name: sucursales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sucursales_id_seq', 738, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 3, true);


--
-- Name: alias_productos alias_productos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alias_productos
    ADD CONSTRAINT alias_productos_pkey PRIMARY KEY (id);


--
-- Name: archivos_generados archivos_generados_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.archivos_generados
    ADD CONSTRAINT archivos_generados_pkey PRIMARY KEY (id);


--
-- Name: bodegas_producto_por_cliente bodegas_producto_por_cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_cliente
    ADD CONSTRAINT bodegas_producto_por_cliente_pkey PRIMARY KEY (id);


--
-- Name: bodegas_producto_por_sucursal bodegas_producto_por_sucursal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_sucursal
    ADD CONSTRAINT bodegas_producto_por_sucursal_pkey PRIMARY KEY (id);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: configuracion configuracion_clave_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracion
    ADD CONSTRAINT configuracion_clave_key UNIQUE (clave);


--
-- Name: configuracion configuracion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracion
    ADD CONSTRAINT configuracion_pkey PRIMARY KEY (id);


--
-- Name: correos_procesados correos_procesados_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.correos_procesados
    ADD CONSTRAINT correos_procesados_pkey PRIMARY KEY (id);


--
-- Name: correos_procesados correos_procesados_uid_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.correos_procesados
    ADD CONSTRAINT correos_procesados_uid_key UNIQUE (uid);


--
-- Name: pedido_items pedido_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido_items
    ADD CONSTRAINT pedido_items_pkey PRIMARY KEY (id);


--
-- Name: pedidos pedidos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_pkey PRIMARY KEY (id);


--
-- Name: producto_alias producto_alias_cliente_id_producto_id_alias_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto_alias
    ADD CONSTRAINT producto_alias_cliente_id_producto_id_alias_key UNIQUE (cliente_id, producto_id, alias);


--
-- Name: producto_alias producto_alias_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto_alias
    ADD CONSTRAINT producto_alias_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: sucursales sucursales_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sucursales
    ADD CONSTRAINT sucursales_pkey PRIMARY KEY (id);


--
-- Name: bodegas_producto_por_cliente uq_bod_cli; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_cliente
    ADD CONSTRAINT uq_bod_cli UNIQUE (cliente_id, producto_id);


--
-- Name: bodegas_producto_por_sucursal uq_bod_suc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_sucursal
    ADD CONSTRAINT uq_bod_suc UNIQUE (sucursal_id, producto_id);


--
-- Name: clientes uq_clientes_ruc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT uq_clientes_ruc UNIQUE (ruc);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_username_key UNIQUE (username);


--
-- Name: idx_alias_productos_cliente; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alias_productos_cliente ON public.alias_productos USING btree (cliente_id);


--
-- Name: idx_archivos_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_archivos_estado ON public.archivos_generados USING btree (estado);


--
-- Name: idx_archivos_fecha_generacion; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_archivos_fecha_generacion ON public.archivos_generados USING btree (fecha_generacion);


--
-- Name: idx_archivos_tipo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_archivos_tipo ON public.archivos_generados USING btree (tipo_archivo);


--
-- Name: idx_bod_cli_cliente_prod; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bod_cli_cliente_prod ON public.bodegas_producto_por_cliente USING btree (cliente_id, producto_id);


--
-- Name: idx_bod_suc_sucursal_prod; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_bod_suc_sucursal_prod ON public.bodegas_producto_por_sucursal USING btree (sucursal_id, producto_id);


--
-- Name: idx_configuracion_clave; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_configuracion_clave ON public.configuracion USING btree (clave);


--
-- Name: idx_correos_procesados_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_correos_procesados_fecha ON public.correos_procesados USING btree (fecha_procesado);


--
-- Name: idx_correos_procesados_uid; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_correos_procesados_uid ON public.correos_procesados USING btree (uid);


--
-- Name: idx_items_pedido_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_items_pedido_id ON public.pedido_items USING btree (pedido_id);


--
-- Name: idx_items_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_items_sku ON public.pedido_items USING btree (sku);


--
-- Name: idx_pedidos_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pedidos_estado ON public.pedidos USING btree (estado);


--
-- Name: idx_pedidos_fecha_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pedidos_fecha_estado ON public.pedidos USING btree (fecha DESC, estado);


--
-- Name: idx_pedidos_numero; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pedidos_numero ON public.pedidos USING btree (numero_pedido);


--
-- Name: idx_pedidos_orden_compra; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pedidos_orden_compra ON public.pedidos USING btree (orden_compra) WHERE (orden_compra IS NOT NULL);


--
-- Name: idx_producto_alias_alias; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_producto_alias_alias ON public.producto_alias USING btree (alias);


--
-- Name: idx_producto_alias_cliente_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_producto_alias_cliente_id ON public.producto_alias USING btree (cliente_id);


--
-- Name: idx_producto_alias_cliente_producto; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_producto_alias_cliente_producto ON public.producto_alias USING btree (cliente_id, producto_id);


--
-- Name: idx_producto_alias_producto_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_producto_alias_producto_id ON public.producto_alias USING btree (producto_id);


--
-- Name: idx_sucursales_ciudad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sucursales_ciudad ON public.sucursales USING btree (ciudad) WHERE (ciudad IS NOT NULL);


--
-- Name: idx_sucursales_cliente; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sucursales_cliente ON public.sucursales USING btree (cliente_id);


--
-- Name: idx_sucursales_ruc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sucursales_ruc ON public.sucursales USING btree (ruc) WHERE (ruc IS NOT NULL);


--
-- Name: idx_usuarios_activo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_activo ON public.usuarios USING btree (activo);


--
-- Name: idx_usuarios_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuarios_username ON public.usuarios USING btree (username);


--
-- Name: uq_alias_prod_cliente; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_alias_prod_cliente ON public.alias_productos USING btree (cliente_id, producto_id);


--
-- Name: uq_clientes_nombre_ci; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_clientes_nombre_ci ON public.clientes USING btree (upper(nombre));


--
-- Name: alias_productos trigger_actualizar_alias_productos; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_actualizar_alias_productos BEFORE UPDATE ON public.alias_productos FOR EACH ROW EXECUTE FUNCTION public.actualizar_fecha_modificacion_alias();


--
-- Name: archivos_generados trigger_actualizar_archivos_generados; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_actualizar_archivos_generados BEFORE UPDATE ON public.archivos_generados FOR EACH ROW EXECUTE FUNCTION public.actualizar_fecha_modificacion();


--
-- Name: alias_productos alias_productos_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alias_productos
    ADD CONSTRAINT alias_productos_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE CASCADE;


--
-- Name: alias_productos alias_productos_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alias_productos
    ADD CONSTRAINT alias_productos_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: bodegas_producto_por_cliente bodegas_producto_por_cliente_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_cliente
    ADD CONSTRAINT bodegas_producto_por_cliente_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE CASCADE;


--
-- Name: bodegas_producto_por_cliente bodegas_producto_por_cliente_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_cliente
    ADD CONSTRAINT bodegas_producto_por_cliente_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: bodegas_producto_por_sucursal bodegas_producto_por_sucursal_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_sucursal
    ADD CONSTRAINT bodegas_producto_por_sucursal_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: bodegas_producto_por_sucursal bodegas_producto_por_sucursal_sucursal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bodegas_producto_por_sucursal
    ADD CONSTRAINT bodegas_producto_por_sucursal_sucursal_id_fkey FOREIGN KEY (sucursal_id) REFERENCES public.sucursales(id) ON DELETE CASCADE;


--
-- Name: pedido_items pedido_items_pedido_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido_items
    ADD CONSTRAINT pedido_items_pedido_id_fkey FOREIGN KEY (pedido_id) REFERENCES public.pedidos(id) ON DELETE CASCADE;


--
-- Name: pedido_items pedido_items_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedido_items
    ADD CONSTRAINT pedido_items_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE SET NULL;


--
-- Name: pedidos pedidos_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE SET NULL;


--
-- Name: pedidos pedidos_sucursal_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pedidos
    ADD CONSTRAINT pedidos_sucursal_id_fkey FOREIGN KEY (sucursal_id) REFERENCES public.sucursales(id) ON DELETE SET NULL;


--
-- Name: producto_alias producto_alias_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto_alias
    ADD CONSTRAINT producto_alias_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE CASCADE;


--
-- Name: producto_alias producto_alias_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.producto_alias
    ADD CONSTRAINT producto_alias_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE CASCADE;


--
-- Name: sucursales sucursales_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sucursales
    ADD CONSTRAINT sucursales_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ZChrQoV9dn5AphfHOUCjLHzE9z8sfVX2nnRgfgCVSlhgnQAzb3Rq6WaBWNK2qW9

